<div>
  <p>Size: <%= number_to_human_size(document.size_bytes) %></p>
  <p>Mimetype: <%= document.mimetype %></p>
  <p>Created: <%= time_ago_in_words(document.created_at) %> <%= t('.ago') %></p>
</div>
