-# TODO: this will be deprecated in Rails 7.1
= render template: 'documents/new', locals: { "@document": @document_upload }
%hr
= render partial: 'shared/search/form'
%hr
= render template: 'documents/index'
